*.suo
*.user
*.vspscc
*.scc
*.DS_Store
Tmp
bin
obj
TestResults
Logs
packages
.idea/
.vs/
Backup*/
UpgradeLog*.htm
*.Cache
node_modules/
npm-debug.log
[Ss]assdoc/
.vscode/
.history/
.localhistory/
Dest
WebStore/Translation/generate.txt
buildLog.txt
built/